/*--------------------------------------------------------------
# LEGAL NOTICES
--------------------------------------------------------------*/
body {
    font-family: 'Rock Salt', cursive;
    background-color: #583408;
    color: #ffffff;
}
.container {
    max-height: 100vw;
}
th {
    letter-spacing: 2px;
    padding: 20px;
}
td {
    letter-spacing: 1px;
    padding: 20px;
}
tbody td, thead th, h5 {
    text-align: center;
}
tfoot th {
    text-align: right;
}

.text-left {
    text-align: left;
}
.pic-menu {
    width: 100%;
}
.menus {
    padding: 0.5vw;
}
.btn-menu {
    width: 100%;
    padding: 0.5vw;
    background-color: #583408;
    border: none;
    color: darkgrey;
    align-items: center;
}
.modal-content {
    background-color: #583408;
    color: darkgrey;
}
.modal-body table {
    table-layout: fixed;
    border: 3px solid darkgrey;
    border-collapse: collapse;
 }
nav {
    text-decoration: none;
    padding: 30px;
    background-color: #403F3E;
}
.card {
    min-height: inherit;
    background-color: #492A05;
}
#display-feedback{
    padding: 0.5vw
}
label {
    padding-top: 1vw;
}