body {
    background-color: #583408;
    color: #ffffff;
    font-family: 'Rock Salt', cursive;
}

nav, footer {
    background-color: #403F3E;
    padding: 30px;
    text-decoration: none;
}

footer p {
    text-align: center;
    font-family: "DejaVu Serif", serif;
}

.text-left {
    text-align: left;
}
/*--------------------------------------------------------------
Schedules table
--------------------------------------------------------------*/
tbody td, thead th, h5 {
    text-align: center;
}

td {
    letter-spacing: 1px;
    padding: 20px;
}

th {
    letter-spacing: 2px;
    padding: 20px;
}

tfoot th {
    text-align: right;
}

/*--------------------------------------------------------------
Main pages Images on menu
--------------------------------------------------------------*/
.btn-menu {
    align-items: center;
    background-color: #583408;
    border: none;
    color: darkgrey;
    margin: auto;
    padding: 0.5vw;
    width: 70%;
}
.pic-menu {
    margin: auto;
    vertical-align: center;
    width: 100%;
}

.menus {
    margin: auto;
    vertical-align: center;
    padding: 0.5vw;
}
/*--------------------------------------------------------------
Modal
--------------------------------------------------------------*/
.modal-content {
    background-color: #583408;
    color: darkgrey;
}

.modal-body table {
    border: 3px solid darkgrey;
    border-collapse: collapse;
    table-layout: fixed;
}

/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/
form {
    font-family: "DejaVu Serif", serif;
}

label {
    padding-top: 1vw;
}

select #note-select {
    width: 5vw;
}
.card {
    background-color: #492A05;
    min-height: inherit;
    padding: 0.5vw;
    position: relative;
    top: 10px;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/

.hover {
    align-items: center;
    display: inline-block;
    float: none;
    margin: auto;
    padding: 10px;
    width: 28%;
    opacity: 0;
}
.gallery-img {
    max-width: 100%;
    padding: 12px;
}
.img-title {
    color: black;
    display: flex;
    font-size: 16px;
    opacity: 0;
    position: relative;
    top: -30px;
}
.carousel-item:hover .hover {
    background-color: darkgrey;
    opacity: 1;
}

/*--------------------------------------------------------------
# MenusPage
--------------------------------------------------------------*/
.menus {
    border-bottom: #A4A4A4 dotted 1px;
    margin-top: 15px;
    padding-bottom: 15px;
}
.subTitle {
    border-bottom: #818080 double 4px;
    margin-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}
.head-menus {
    border-bottom: #818080 solid 4px;
    margin-top: 15px;
    padding-bottom: 15px;
}
.content {
    color: #818080;
}
#menus {
    margin-top: 80px;
}