body {
    background-color: #583408;
    color: #ffffff;
    font-family: 'Rock Salt', cursive;
}

nav, footer {
    background-color: #403F3E;
    padding: 30px;
    text-decoration: none;
}

footer p {
    text-align: center;
    font-family: "DejaVu Serif", serif;
}

.btn #contact {
    align-items: end;
}
/*--------------------------------------------------------------
# Schedules table
--------------------------------------------------------------*/
tbody td, thead th, h5 {
    text-align: center;
}

td {
    letter-spacing: 1px;
    padding: 20px;
}

th {
    letter-spacing: 2px;
    padding: 20px;
}

tfoot th {
    text-align: right;
}

.btn-menu, pic-menu {
    align-items: center;
    background-color: #583408;
    border: none;
    color: darkgrey;
    margin: auto;
    padding: 0.5vw;
    width: 100%;
}

.menus {
    margin: auto;
    vertical-align: center;
    padding: 0.5vw;
}

.modal-content {
    background-color: #583408;
    color: darkgrey;
}

.modal-body table {
    border: 3px solid darkgrey;
    border-collapse: collapse;
    table-layout: fixed;
}

.pic-menu {
    margin: auto;
    vertical-align: center;
    width: 80%;
}

.text-left {
    text-align: left;
}

/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/
form {
    font-family: "DejaVu Serif";
}

label {
    padding-top: 1vw;
}

select #note-select {
    width: 5vw;
}
.card {
    background-color: #492A05;
    min-height: inherit;
    padding: 0.5vw;
    position: relative;
    top: 10px;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/

.hover {
    align-items: center;
    display: inline-block;
    float: none;
    margin: auto;
    padding: 10px;
    width: 28%;
}
.gallery-img {
    max-width: 100%;
    padding: 12px;
}
.img-title {
    color: black;
    display: flex;
    font-size: 16px;
    opacity: 0;
    position: relative;
    top: -30px;
}
.hover:hover .img-title{
    background-color: darkgrey;
    opacity: 1;
}
