body {
    background-color: #583408;
    color: #ffffff;
    font-family: "DejaVu Serif", serif;
    font-size: 1.8vh;
}

nav, footer {
    background-color: #403F3E;
    font-family: 'Rock Salt', cursive;
    padding: 30px;
    text-decoration: none;
}

.navbarParam {
    background-color: #ffffff;
    color: #818080;
}

.text-white, #navMenu {
    font-size: 2vh;
}

/*--------------------------------------------------------------
Navbar Param Page
--------------------------------------------------------------*/

.btn-param {
    display: inline-block;
    justify-content: space-around;
    font-size: 2vh;
}

.logo {
    font-size: 3vh;
}

.price  {
    text-align: end;
}

/*--------------------------------------------------------------
Formulaires
--------------------------------------------------------------*/
.form-label {
    text-align: center;
    align-items: center;
    padding-top: 1vw;
}

.card {
    color: #000000;
    margin: 0.5vw;
    padding: 0.2vw;
}

/*--------------------------------------------------------------
Schedules table
--------------------------------------------------------------*/
td, th, h5 {
    text-align: center;
}

td {
    letter-spacing: 1px;
    padding: 10px;
}

th {
    letter-spacing: 2px;
    padding: 10px;
}

tfoot th {
    text-align: right;
}

@media (max-width: 700px){
    td, th, h5 {
        font-size: 3vw;
        padding: 2px;
    }
}
/*--------------------------------------------------------------
Reservations table
--------------------------------------------------------------*/
.displayReservations {
    border: black solid 1px;
}

.btn-picture {
    position: sticky;
}