body {
    background-color: #583408;
    color: #ffffff;
    font-family: "DejaVu Serif", serif;
}

nav, footer {
    background-color: #403F3E;
    font-family: 'Rock Salt', cursive;
    padding: 30px;
    text-decoration: none;
}

.navbarParam {
    background-color: white;
    color: darkgrey;
}

.btn-param {
    display: inline-block;
    justify-content: space-around;
}

/*--------------------------------------------------------------
Formulaires
--------------------------------------------------------------*/

.form-label {
    text-align: center;
    align-items: center;
    padding-top: 1vw;
}

.card {
    color: black;
    margin: 0.5vw;
    padding: 0.2vw;
}

/*--------------------------------------------------------------
Schedules table
--------------------------------------------------------------*/
tbody td, thead th, h5 {
    text-align: center;
}

td {
    letter-spacing: 1px;
    padding: 20px;
}

th {
    letter-spacing: 2px;
    padding: 20px;
}

tfoot th {
    text-align: right;
}